body {
  margin: 0;
  width: 100%;
  background-color: pink;
  text-align: center;
 
}
.container {
  width: 40%;
 margin: 20px auto;
  background-color: rgb(123, 71, 173);
}

.entered {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.div-none {
  border: 1px solid red; 
  display: block;
}

.div-flex {
  border: 1px solid black; 
  display: none;
}

.card {
  background-color: white;
}